@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  background: url('../public/bg.jpg');
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

body > div {
  display: contents;
}

.styles-module_close__2I1sI {
  color: unset !important;
  opacity: 1 !important;
  left: 15px !important;
}

@media screen and (max-width: 28rem){
   body {
    padding: 1em;
   }
}